@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #1976d2;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1769aa;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 24px;
  color: #fff;
}